name: staging-auto-updater

on:
  push:
      branches:
        - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          repository: hyrax-stanley/test-actions
          path: test-actions
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - name: Pull live changes and push to staging
        run: |
          cd test-actions
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git pull https://github.com/hyraxbio-cms/test-actions.git staging --allow-unrelated-histories
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          repository: hyrax-stanley/test-actions
          directory: test-actions
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          branch: ${{ github.ref }}
        
